---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<div class="ai-c bg-d-lead-4 d-f jc-c h-1/1">
		<h1 class="fs-lg fw-700 tc-white">Yumma CSS + Astro</h1>
	</div>
</Layout>